<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProgramPath" value="Application" />
    <add key="UGII_BASE_DIR" value="I:\UG\NX 9.0-64bit"/>
    <add key="UGII_ROOT_DIR" value="I:\UG\NX 9.0-64bit\UGII"/>
    <add key="IsAppDomain" value="0"/>
  </appSettings>
</configuration>