<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ProgramPath" value="Application" />
    <add key="UGII_ROOT_DIR" value="D:\ug\NX 10.0\UGII"/>
    <add key="UGII_BASE_DIR" value="D:\ug\NX 10.0"/>
    <add key="IsAppDomain" value="0"/>
  </appSettings>
</configuration>
