<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="ProgramPath" value="Application" />
    <add key="UGII_ROOT_DIR" value="I:\UG\NX 9.0-64bit\UGII"/>
    <add key="UGII_BASE_DIR" value="I:\UG\NX 9.0-64bit"/>
  </appSettings>
</configuration>
